# LOADING DATA IN SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import keyring

In [2]:
df = pd.read_csv(r"C:\Users\Administrator\OneDrive\Desktop\Project\E_Commerce\Superstore_CD.csv", encoding='latin1')

In [3]:
df.head(3)

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,...,Product_ID,Category,Sub_Category,Product_Name,Discounted_Sale,Cost,Profit,Quantity,Discount,Actual_Sale
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,220.05,41.9136,2,0%,261.96
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,512.36,219.5820,3,0%,731.94
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,7.75,6.8714,2,0%,14.62

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         9994 non-null   object
 1   Order_Date       9994 non-null   object
 2   Ship_Date        9994 non-null   object
 3   Ship_Mode        9994 non-null   object
 4   Customer_ID      9994 non-null   object
 5   Customer_Name    9994 non-null   object
 6   Segment          9994 non-null   object
 7   Country          9994 non-null   object
 8   City             9994 non-null   object
 9   State            9994 non-null   object
 10  Region           9994 non-null   object
 11  Product_ID       9994 non-null   object
 12  Category         9994 non-null   object
 13  Sub_Category     9994 non-null   object
 14  Product_Name     9994 non-null   object
 15  Discounted_Sale  9994 non-null   float64
 16  Cost             9994 non-null   float64
 17  Profit           9994 non-null   float64
 18  Quantity         9994 non-null   int64
 19  Discount         9994 non-null   object
 20  Actual_Sale      9994 non-null   float64
dtypes: float64(4), int64(1), object(16)
memory usage: 1.6+ MB

In [5]:
password = keyring.get_password("mysql", "root")
encode_password = password.replace("@", "%40")

engine = create_engine(f"mysql+pymysql://root:{encode_password}@127.0.0.1:3306/Sales_Data")

In [6]:
create_table_query = """
CREATE TABLE Data (
    Order_ID VARCHAR(50),
    Order_Date DATE,
    Ship_Date DATE,
    Ship_Mode VARCHAR(50),
    Customer_ID VARCHAR(60),
    Customer_Name VARCHAR(100),
    Segment VARCHAR(50),
    Country VARCHAR(50),
    City VARCHAR(50),
    State VARCHAR(50),
    Region VARCHAR(50),
    Product_ID VARCHAR(50),
    Category VARCHAR(50),
    Sub_Category VARCHAR(50),
    Product_Name VARCHAR(255),
    Discounted_Sale DECIMAL(10,2),
    Cost DECIMAL(10,2),
    Profit DECIMAL(10,2),
    Quantity INT,
    Discount DECIMAL(5,2),
    Actual_Sale DECIMAL(10,2)
);
"""

In [7]:
conn = pymysql.connect(host="127.0.0.1",
                       user="root",
                       password= password,
                       database="Sales_Data")
cursor = conn.cursor()
cursor.execute(create_table_query)
conn.commit()
conn.close()

In [8]:
df.to_sql(name = "e_commerce_data", con = engine, if_exists = "append", index=False)

9994